.titlee{
    display: flex;
    justify-content: center;
    font-family: cursive;
    color: white;
    text-transform: uppercase;
}

.contenedor{
    width:90%;
    max-width:120rem;
    margin:0px auto;

}


.flexi{
    display: flex;
    justify-content: center;
    text-align: center;
}

.dish{
    display: flex;
    flex-direction: column;
    padding: 5rem;
  
}
.h{
    background: rgb(189, 186, 186);
    padding: 60px;
    border-radius: 18px;
}
.disty{
    color:white;
    font-family:cursive;
    font-weight: 300;
}
.diet{
  
    padding: 2rem;
     margin-top: 3rem;
    
    }
    
    .dishesanddiets{
        padding: 3px;
        background: rgb(189, 186, 186);
        border-radius: 18px;
         flex-direction:column;
         font-size: 18px;
        margin: 2px;
   
}

.textsss{
    color: white;
    font-family: cursive;
    font-weight: 300;
}
.score{
   display:flex;
   justify-content: space-evenly;
   margin-top: 1rem;
   
}

.t{
    background: rgb(189, 186, 186);
    padding: 15px;
    border-radius: 18px;
    font-family: cursive;
    font-weight: 300;
}

.sum{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:2rem;
}

.sumar{
    color: rgb(0, 0, 0);
   text-align: center;
    margin: 1rem;
    font-family: cursive;
}
.sm{
    background: rgb(153, 140, 140);
    height: 95%;
    text-align: center;
    border-radius: 18px;
    padding: 10px;
    margin-left: 4rem;
}
.carto{
    background-color: rgb(26, 23, 23);
    /* height: 130vh; */
    margin: 1rem;
}

.im{
    width:250px;
    height:250px;
    border-radius:18px;
    margin: 4rem;
}

.stepp{
    margin: 1rem;
    text-align: center;
}

.are{
    background: rgb(153, 140, 140);
    border-radius: 18px;
    padding: 10px;
    margin: 2rem;
}
.ares{
    background: rgb(153, 140, 140);
    border-radius: 18px;
    padding: 10px;
    margin: 2rem;
    width: 50%;
}
.tebla{
    color: white;
    font-family: cursive;
}
.backButton{
    background-color: wheat;
    padding:6px;
    position: absolute;
    border-radius: 6px;
    left: 120px;
    top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.crux{
    background: wheat;
    color: black;
    padding: 15px;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    right: 8rem;
   
}